/* Basic reset for mobile responsiveness */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #FDF5E6;
}

/* Header */
header {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    background-color: #b22222;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Main content styling */
main {
    display: flex;
    flex-wrap: wrap; /* Flex-wrap to ensure stacking on smaller screens */
    padding: 20px;
}

aside {
    width: 25%;
    padding: 20px;
    background-color: #e4ebf5;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-image: url("background border.png");
    background-size: cover;
}

section {
    width: 75%;
    padding: 20px;
}

/* Footer */
footer {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

/* Image styling */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    border: 3px solid rgb(255, 0, 0);
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    color: #333;
}
table, th, td {
    border: 1px solid #ddd;
}
th {
    background-color: #b22222;
    color: #fff;
    padding: 10px;
}
td {
    padding: 8px;
    text-align: left;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    aside, section {
        width: 100%; /* Stack aside and section on smaller screens */
        padding: 10px;
    }

    img {
        width: 75%; /* Adjust image size for smaller screens */
    }

    footer {
        padding: 15px 0;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    img {
        width: 90%; /* Further adjust image size for mobile screens */
    }

    footer p {
        font-size: 0.875rem;
    }
}
