body {
    font-family: 'Merriweather' sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #FDF5E6;
}
header {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    background-color: #b22222;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main h2, h3 {
    font-family: 'Merriweather', sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
main {
    display: flex;
    padding: 20px;
}
aside {
    width: 25%;
    padding: 20px;
    background-color: #e4ebf5;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-image: url("/png/background\ border.png");
    background-size: cover;
}

section {
    width: 75%;
    padding: 20px;
}

footer {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 1rem;
    color: #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    color: #333;
}
table, th, td {
    border: 1px solid #ddd;
}
th {
    font-family: 'Times New Roman', Times, serif;
    background-color: #b22222;
    color: #fff;
    padding: 10px;
}
td {
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    text-align: left;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    border: 3px solid rgb(255, 0, 0);
}
